#Navbar{
    background-color: #141C27;
    z-index: 2;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo h6{
    color: var(--white-color);
    transition: .7s;
}
.img-100{
    width: 100%;
    object-fit: cover;
}
.Navbar .logo-img{
    width: 100px;
    height: 100px;
}
.logo:hover h6{
    transition: 1.2s;
    color: var(--theme-color);
}
.Navbar .mainmenu li a{
    color: var(--white-color);
    transition: .7s;
}
.Navbar .mainmenu li:hover a{
    color: var(--theme-color);
    transition: 1.2s;
    font-size: 20px;
}
.social-icon .icon{
    border-radius: 50%;
    background-color: var(--black-color);
    color: var(--white-color);
    width: 35px;
    height: 35px;
    font-size: 20px;
    transition: .7s;
}
.social-icon .icon:hover{
    font-size: 30px;
    background-color: transparent;
    color: var(--theme-color);
    transition: 1.2s;
}
.mobilemenu{
    display: none;
}
.mobilemenu li{
    border-bottom:1px solid var(--black-color);
}
.mobilemenu li a{
    color: var(--black-color);
}


@media (max-width:1025px) {
    .mainmenu li a{
        font-size: 12px;
    }
    .Navbar .logo-img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width:426px) {
    .social-icon .icon {
        border-radius: 50%;
        background-color: var(--black-color);
        color: var(--white-color);
        width: 25px;
        height: 25px;
        font-size: 18px;
    }
    .logo-img{
        margin: auto;
    }
}